@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@font-face {
  font-family: 'iconfont';
  src: url("../font/iconfont.eot?82934119");
  src: url("../font/iconfont.eot?82934119#iefix") format("embedded-opentype"), url("../font/iconfont.woff2?82934119") format("woff2"), url("../font/iconfont.woff?82934119") format("woff"), url("../font/iconfont.ttf?82934119") format("truetype"), url("../font/iconfont.svg?82934119#iconfont") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.svg?82934119#iconfont') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-dot-3:before {
  content: '\e800'; }

/* '' */
.icon-minus:before {
  content: '\e801'; }

/* '' */
.icon-camera:before {
  content: '\e802'; }

/* '' */
.icon-calendar:before {
  content: '\e803'; }

/* '' */
.icon-briefcase:before {
  content: '\e804'; }

/* '' */
.icon-up-open:before {
  content: '\e805'; }

/* '' */
.icon-edit:before {
  content: '\e806'; }

/* '' */
.icon-grid:before {
  content: '\e807'; }

/* '' */
.icon-heart:before {
  content: '\e808'; }

/* '' */
.icon-down-open:before {
  content: '\e809'; }

/* '' */
.icon-message:before {
  content: '\e80a'; }

/* '' */
.icon-notification:before {
  content: '\e80c'; }

/* '' */
.icon-plus:before {
  content: '\e80d'; }

/* '' */
.icon-search:before {
  content: '\e80e'; }

/* '' */
.icon-share:before {
  content: '\e810'; }

/* '' */
.icon-thumbs-up:before {
  content: '\e811'; }

/* '' */
.icon-users:before {
  content: '\e812'; }

/* '' */
.icon-video:before {
  content: '\e813'; }

/* '' */
.icon-send:before {
  content: '\e818'; }

/* '' */
.icon-home:before {
  content: '\e81a'; }

/* '' */
.icon-hash:before {
  content: '\e80b'; }

/* '' */
:root {
  --color: #006699; }

* {
  text-decoration: none;
  -webkit-overflow-scrolling: touch;
  font-family: "Roboto", sans-serif; }
  *:focus {
    outline: 0; }

body {
  background-color: #f5f6f8; }

.container {
  width: 1140px;
  margin: 0 auto; }

.header {
  background-color: #fff;
  margin-bottom: 1rem;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100; }
  .header .container {
    height: 56px;
    display: flex;
    align-items: center; }
    .header .container .search {
      position: relative;
      margin-left: 18px; }
      .header .container .search i {
        position: absolute;
        top: 0;
        left: 0;
        height: 32px;
        width: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #aaa; }
      .header .container .search input {
        height: 32px;
        width: 100%;
        background-color: rgba(222, 222, 222, 0.32);
        border-radius: 4px;
        font-size: 14px;
        padding: 0 15px 0 44px; }
        .header .container .search input::placeholder {
          color: #aaaaaa; }
    .header .container .menu {
      margin: 0 auto; }
      .header .container .menu ul {
        display: flex; }
        .header .container .menu ul li a {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 13px;
          color: #aaa; }
          .header .container .menu ul li a i {
            font-size: 24px; }
          .header .container .menu ul li a span {
            display: none; }
          .header .container .menu ul li a:hover {
            color: var(--color); }
        .header .container .menu ul li.active a {
          color: var(--color); }
          .header .container .menu ul li.active a i {
            margin-right: 5px; }
          .header .container .menu ul li.active a span {
            display: block; }
    .header .container .user-menu > a {
      display: flex;
      align-items: center; }
      .header .container .user-menu > a .detail {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 6px;
        justify-content: center; }
        .header .container .user-menu > a .detail span.name {
          font-size: 12px;
          line-height: 14px;
          color: #17272f; }
        .header .container .user-menu > a .detail span.status {
          font-size: 10px; }
          .header .container .user-menu > a .detail span.status.offline {
            color: #b03131; }
          .header .container .user-menu > a .detail span.status.online {
            color: #31b057; }
      .header .container .user-menu > a img {
        width: 24px;
        height: 24px;
        min-width: 24px;
        border-radius: 50%; }
      .header .container .user-menu > a i {
        color: #a7b4cc;
        font-size: 12px;
        margin-left: 5px; }

main .container {
  display: flex; }
  main .container .sidebar {
    min-width: 270px;
    width: 270px; }
    main .container .sidebar .widget {
      margin-bottom: 1rem;
      background-color: #fff;
      border-radius: 6px;
      padding: 15px; }
      main .container .sidebar .widget .widget-button {
        display: flex;
        height: 40px;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        font-size: 14px;
        font-weight: 500;
        color: var(--color);
        text-align: center;
        transition: 300ms all; }
        main .container .sidebar .widget .widget-button:hover {
          background-color: var(--color);
          color: #fff; }
      main .container .sidebar .widget h6 {
        font-size: 14px;
        font-weight: 500;
        color: #17272f;
        padding-bottom: 8px;
        border-bottom: 1px solid #edf0f5;
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        main .container .sidebar .widget h6 .dropdown a {
          display: flex;
          align-items: center;
          font-size: 14px;
          font-weight: normal;
          color: #31b057; }
          main .container .sidebar .widget h6 .dropdown a i {
            color: #aaa;
            font-size: 10px;
            margin-left: 5px; }
        main .container .sidebar .widget h6 .more-btn {
          color: #aaa;
          font-size: 1rem;
          align-self: flex-start; }
          main .container .sidebar .widget h6 .more-btn:hover {
            color: var(--color); }
        main .container .sidebar .widget h6 .description {
          display: block;
          font-size: 10px;
          color: #aaaaaa;
          margin-top: 4px;
          line-height: 11.72px;
          font-weight: normal; }
    main .container .sidebar .widget-stats {
      padding: 8px; }
      main .container .sidebar .widget-stats .stat-user {
        text-align: center; }
        main .container .sidebar .widget-stats .stat-user .cover {
          height: 43px;
          background: url(../img/cover-bg.png) no-repeat center center;
          background-size: cover;
          border-radius: 4px; }
        main .container .sidebar .widget-stats .stat-user .avatar {
          text-align: center;
          margin-top: -26px;
          margin-bottom: 10px; }
          main .container .sidebar .widget-stats .stat-user .avatar img {
            border: 2px solid #fff;
            width: 52px;
            height: 52px;
            border-radius: 50%;
            display: block;
            margin: 0 auto; }
        main .container .sidebar .widget-stats .stat-user .name {
          font-size: 1rem;
          font-weight: 500;
          color: #17272f;
          text-align: center; }
        main .container .sidebar .widget-stats .stat-user .job-title {
          font-size: 14px;
          color: #aaa;
          margin-top: 4px;
          margin-bottom: 1rem; }
      main .container .sidebar .widget-stats ul {
        padding: 0 7px 11px; }
        main .container .sidebar .widget-stats ul li {
          display: flex;
          justify-content: space-between; }
          main .container .sidebar .widget-stats ul li:not(:last-child) {
            margin-bottom: 1rem; }
          main .container .sidebar .widget-stats ul li span.key {
            font-size: 14px;
            line-height: 1rem;
            color: #17272f; }
          main .container .sidebar .widget-stats ul li span.value {
            font-size: 14px;
            line-height: 1rem;
            color: var(--color);
            font-weight: 500; }
    main .container .sidebar .widget-newest {
      position: sticky;
      top: 70px; }
      main .container .sidebar .widget-newest ul:not(:last-child) {
        padding-bottom: 30px; }
      main .container .sidebar .widget-newest ul li a {
        display: flex;
        align-items: center;
        font-size: 12px;
        color: var(--color);
        padding: 4px 0; }
        main .container .sidebar .widget-newest ul li a:hover {
          color: #222; }
        main .container .sidebar .widget-newest ul li a i {
          width: 22px;
          font-size: 11px; }
          main .container .sidebar .widget-newest ul li a i.icon-hash {
            font-size: 12px; }
    main .container .sidebar .widget-btn {
      height: 51px;
      padding: 0 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #17272f; }
      main .container .sidebar .widget-btn i {
        color: var(--color); }
      main .container .sidebar .widget-btn.more {
        height: 56px;
        justify-content: center;
        font-size: 14px;
        font-weight: 500;
        color: var(--color);
        transition: 300ms all; }
        main .container .sidebar .widget-btn.more:hover {
          color: #fff;
          background: var(--color); }
    main .container .sidebar .widget-recommendation ul li {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      main .container .sidebar .widget-recommendation ul li:not(:last-child) {
        margin-bottom: 1rem; }
      main .container .sidebar .widget-recommendation ul li:last-child {
        margin-bottom: 36px; }
      main .container .sidebar .widget-recommendation ul li a:first-child {
        display: flex;
        align-items: center; }
        main .container .sidebar .widget-recommendation ul li a:first-child .image {
          min-width: 24px;
          margin-right: 8px;
          display: flex;
          align-items: center;
          justify-content: center; }
          main .container .sidebar .widget-recommendation ul li a:first-child .image img {
            max-width: 100%; }
        main .container .sidebar .widget-recommendation ul li a:first-child .detail {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center; }
          main .container .sidebar .widget-recommendation ul li a:first-child .detail span.name {
            font-size: 14px;
            color: #17272f;
            font-weight: 500; }
          main .container .sidebar .widget-recommendation ul li a:first-child .detail span.alt-name {
            font-size: 12px;
            color: #aaa;
            padding-top: 3px; }
      main .container .sidebar .widget-recommendation ul li a:last-child {
        min-width: 24px;
        width: 24px;
        height: 24px;
        border: 1px solid var(--color);
        color: var(--color);
        border-radius: 4px;
        font-size: 13px;
        display: grid;
        place-items: center;
        transition: 300ms background-color, 300ms color; }
        main .container .sidebar .widget-recommendation ul li a:last-child:hover {
          background-color: var(--color);
          color: #fff; }
    main .container .sidebar .widget-marketing {
      padding: 20px 16px 10px; }
      main .container .sidebar .widget-marketing .get-updates .avatars {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 30px 0; }
        main .container .sidebar .widget-marketing .get-updates .avatars a img {
          border-radius: 50%;
          width: 72px;
          height: 72px; }
      main .container .sidebar .widget-marketing .get-updates p {
        margin-top: 18px;
        font-size: 14px;
        color: #17272f;
        line-height: 20px;
        margin-bottom: 10px; }
        main .container .sidebar .widget-marketing .get-updates p span {
          font-weight: 500; }
    main .container .sidebar .footer {
      position: sticky;
      top: 70px;
      padding-top: 38px; }
      main .container .sidebar .footer nav {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #dedede;
        margin-bottom: 12px; }
        main .container .sidebar .footer nav a {
          font-size: 10px;
          color: #aaa;
          margin-right: 15px;
          margin-bottom: 1rem; }
      main .container .sidebar .footer .copyright {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 10px;
        color: #aaa; }
        main .container .sidebar .footer .copyright img {
          height: 14px; }
  main .container .content {
    margin: 0 30px;
    flex: 1; }
    main .container .content .create-post {
      background-color: #fff;
      padding: 16px 16px 0px;
      border-radius: 6px;
      margin-bottom: 20px; }
      main .container .content .create-post textarea {
        width: 100%;
        resize: none;
        height: 60px;
        font-size: 14px; }
        main .container .content .create-post textarea::placeholder {
          color: #aaa; }
      main .container .content .create-post .actions {
        border-top: 1px solid #edf0f5;
        display: flex;
        padding-top: 8px; }
        main .container .content .create-post .actions li {
          flex: auto; }
          main .container .content .create-post .actions li label {
            cursor: pointer; }
            main .container .content .create-post .actions li label input {
              display: none; }
          main .container .content .create-post .actions li label,
          main .container .content .create-post .actions li a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #17272f;
            font-size: 14px;
            padding: 7px 0; }
            main .container .content .create-post .actions li label:hover,
            main .container .content .create-post .actions li a:hover {
              background-color: #f5f5f5; }
            main .container .content .create-post .actions li label i,
            main .container .content .create-post .actions li a i {
              margin-right: 8px;
              font-size: 1rem; }
              main .container .content .create-post .actions li label i.icon-camera,
              main .container .content .create-post .actions li a i.icon-camera {
                color: #31b057; }
              main .container .content .create-post .actions li label i.icon-video,
              main .container .content .create-post .actions li a i.icon-video {
                color: #388bf2;
                font-size: 13px; }
              main .container .content .create-post .actions li label i.icon-calendar,
              main .container .content .create-post .actions li a i.icon-calendar {
                color: #fc8338; }
              main .container .content .create-post .actions li label i.icon-edit,
              main .container .content .create-post .actions li a i.icon-edit {
                color: #e52a34; }
    main .container .content .filter-box {
      margin-bottom: 14px;
      background-color: rgba(222, 222, 222, 0.24);
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 6px;
      padding: 0 20px;
      color: #17272f; }
      main .container .content .filter-box h6 {
        font-size: 14px;
        font-weight: normal; }
      main .container .content .filter-box .selectbox {
        position: relative; }
        main .container .content .filter-box .selectbox select {
          appearance: none;
          background-color: transparent;
          font-size: 14px;
          color: #17272f;
          font-weight: 500;
          padding-right: 30px;
          position: relative;
          top: -2px; }
        main .container .content .filter-box .selectbox i {
          position: absolute;
          right: 0;
          font-size: 12px;
          color: #aaa;
          pointer-events: none; }
    main .container .content .post {
      background-color: #fff;
      border-radius: 6px;
      padding: 13px 1rem 20px;
      margin-bottom: 20px; }
      main .container .content .post .post-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 9px;
        border-bottom: 1px solid #edf0f5; }
        main .container .content .post .post-header .post-author {
          display: flex;
          align-items: center; }
          main .container .content .post .post-header .post-author img {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            margin-right: 12px; }
          main .container .content .post .post-header .post-author .name {
            font-size: 14px;
            color: #17272f;
            font-weight: 500; }
          main .container .content .post .post-header .post-author .date,
          main .container .content .post .post-header .post-author .job-title {
            color: #aaaaaa;
            font-size: 10px; }
          main .container .content .post .post-header .post-author .job-title {
            padding: 2px 0; }
        main .container .content .post .post-header .more {
          color: #aaa;
          font-size: 18px; }
          main .container .content .post .post-header .more:hover {
            color: var(--color); }
      main .container .content .post .post-content {
        padding: 20px 0; }
        main .container .content .post .post-content p {
          font-size: 14px; }
          main .container .content .post .post-content p:not(:last-child) {
            margin-bottom: 12px; }
          main .container .content .post .post-content p img {
            max-width: 100%; }
          main .container .content .post .post-content p a {
            font-weight: 500;
            color: var(--color); }
            main .container .content .post .post-content p a:hover {
              text-decoration: underline; }
      main .container .content .post .post-actions {
        display: flex;
        padding-bottom: 20px; }
        main .container .content .post .post-actions a {
          font-size: 1rem;
          color: #aaa;
          display: flex;
          align-items: center;
          margin-right: 15px;
          justify-content: center; }
          main .container .content .post .post-actions a i {
            font-size: 20px;
            margin-right: 5px; }
          main .container .content .post .post-actions a:hover {
            color: var(--color); }
      main .container .content .post .post-alt-detail {
        display: flex;
        align-items: center;
        color: #17272f;
        align-items: center;
        padding-bottom: 14px;
        margin-bottom: 14px;
        border-bottom: 1px solid #edf0f5; }
        main .container .content .post .post-alt-detail .likes {
          display: flex;
          align-items: center;
          margin-right: 10px;
          position: relative;
          padding-right: 10px; }
          main .container .content .post .post-alt-detail .likes::before {
            content: "";
            width: 2px;
            height: 2px;
            border-radius: 50%;
            background-color: #17272f;
            position: absolute;
            top: 50%;
            right: -1px;
            margin-top: -1px; }
        main .container .content .post .post-alt-detail i {
          font-size: 14px;
          margin-right: 10px;
          position: relative;
          z-index: 1; }
          main .container .content .post .post-alt-detail i::after {
            content: "";
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background-color: rgba(229, 42, 52, 0.32);
            position: absolute;
            top: 1px;
            left: 2px;
            z-index: -1; }
          main .container .content .post .post-alt-detail i.icon-heart {
            color: #e52a34; }
            main .container .content .post .post-alt-detail i.icon-heart::after {
              background-color: rgba(229, 42, 52, 0.32); }
          main .container .content .post .post-alt-detail i.icon-thumbs-up {
            color: #388bf2; }
            main .container .content .post .post-alt-detail i.icon-thumbs-up::after {
              background-color: rgba(56, 139, 242, 0.32); }
      main .container .content .post .post-comment-form {
        display: flex;
        align-items: center; }
        main .container .content .post .post-comment-form img {
          min-width: 32px;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          margin-right: 12px; }
        main .container .content .post .post-comment-form .textarea {
          flex: 1;
          border: 1px solid #edf0f5;
          border-radius: 6px;
          display: flex;
          align-items: center;
          padding: 8px; }
          main .container .content .post .post-comment-form .textarea textarea {
            background-color: transparent;
            width: 100%;
            flex: 1;
            padding: 8px;
            resize: none;
            height: 36px;
            font-size: 14px; }
            main .container .content .post .post-comment-form .textarea textarea::placeholder {
              color: #dedede; }
          main .container .content .post .post-comment-form .textarea label {
            cursor: pointer;
            border-left: 1px solid #edf0f5;
            padding-left: 1rem;
            font-size: 18px;
            color: #a7b4cc;
            padding-right: 5px; }
            main .container .content .post .post-comment-form .textarea label:hover {
              color: var(--color); }
            main .container .content .post .post-comment-form .textarea label input {
              display: none; }

.message-box {
  position: fixed;
  bottom: 0;
  right: 50px; }
  .message-box .message-header {
    width: 270px;
    height: 56px;
    display: flex;
    align-items: center;
    background: linear-gradient(289.57deg, #006699 20.9%, #009099 111.3%);
    border-radius: 6px;
    padding: 0 10px;
    font-size: 14px;
    color: #fff; }
    .message-box .message-header .img {
      position: relative; }
      .message-box .message-header .img::before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        bottom: -6px;
        left: 50%;
        margin-left: -8px;
        border: 1px solid #fff; }
      .message-box .message-header .img.online::before {
        background-color: #31b057; }
      .message-box .message-header .img img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid #fff;
        display: block;
        margin-right: 7px; }
    .message-box .message-header .actions {
      display: flex;
      margin-left: auto; }
      .message-box .message-header .actions a {
        width: 34px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 15px;
        margin-left: 5px;
        border-radius: 50%;
        transition: 300ms all; }
        .message-box .message-header .actions a:hover {
          background-color: rgba(255, 255, 255, 0.1); }
